<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="apple-mobile-web-app-capable" content="yes" />
<title>booHeart</title>
<link rel="stylesheet" href="css/jquery.mobile-1.4.0-alpha.1.min.css" />
<link rel="stylesheet" href="css/foundation.css">
<link rel="stylesheet" href="A_03_cancel.css">
<script src="js/jquery-1.10.1.min.js"></script>
<script src="js/jquery.mobile-1.4.0-alpha.1.min.js"></script>
<script src="js/vendor/custom.modernizr.js"></script>
</head>
<body>
<div data-role="page" data-theme="{{datatheme}}" id="angelCancel">
  <div data-role="header" data-theme="{{datatheme}}" data-position="fixed" class="hdtitle">
    <div class="ui-bar ui-bar-e" data-theme="{{datatheme}}">
      <div class="row hdrow">
        <div class="small-2 columns">&nbsp;</div>
        <div class="small-8 columns" align="center"><img src="img/A_02_menu/logo_top.png" id="bhlogo"></div>
        <div class="small-2 columns">&nbsp;</div>
      </div>
    </div>
  </div>
  <div data-role="content" data-theme="{{datatheme}}" id="mainbody">
    <div class="wrapper" >
      <div data-role="collapsible-set" data-theme="c" data-content-theme="d" data-inset="false" >
        <div data-role="collapsible" class="cancelItem">
          <h2>5979878674<span class="time">13:59 PM</span></h2>
          <div data-role="listview">
            <p>샘플 텍스트샘플 텍스트샘플 텍스트샘플 텍스트샘플 텍스트샘플 텍스트샘플 텍스트샘플 텍스트샘플 텍스트샘플 텍스트샘플 텍스트샘플 텍스트샘플 텍스트샘플 텍스트샘플 텍스트샘플 텍스트샘플 텍스트 </p>
            <p align="center"><a href="#angelCancel-popup" data-rel="popup" data-position-to="window" ><img src="img/A_03_cancel/btn_cancel.png" /></a></p>
          </div>
        </div>
        <div data-role="collapsible" class="cancelItem">
          <h2>5979878674<span class="time">13:59 PM</span></h2>
          <div data-role="listview">
            <p>샘플 텍스트샘플 텍스트샘플 텍스트샘플 텍스트샘플 텍스트샘플 텍스트샘플 텍스트샘플 텍스트샘플 텍스트샘플 텍스트샘플 텍스트샘플 텍스트샘플 텍스트샘플 텍스트샘플 텍스트샘플 텍스트샘플 텍스트 </p>
            <p align="center"><a href="#angelCancel-popup" data-rel="popup" data-position-to="window" ><img src="img/A_03_cancel/btn_cancel.png" /></a></p>
          </div>
        </div>
        <div data-role="collapsible" class="cancelItem">
          <h2>5979878674<span class="time">13:59 PM</span></h2>
          <div data-role="listview">
            <p>샘플 텍스트샘플 텍스트샘플 텍스트샘플 텍스트샘플 텍스트샘플 텍스트샘플 텍스트샘플 텍스트샘플 텍스트샘플 텍스트샘플 텍스트샘플 텍스트샘플 텍스트샘플 텍스트샘플 텍스트샘플 텍스트샘플 텍스트 </p>
             <p align="center"><a href="#angelCancel-popup" data-rel="popup" data-position-to="window" ><img src="img/A_03_cancel/btn_cancel.png" /></a></p>
          </div>
        </div>
        <div data-role="collapsible" class="cancelItem">
          <h2>5979878674<span class="time">13:59 PM</span></h2>
          <div data-role="listview">
            <p>샘플 텍스트샘플 텍스트샘플 텍스트샘플 텍스트샘플 텍스트샘플 텍스트샘플 텍스트샘플 텍스트샘플 텍스트샘플 텍스트샘플 텍스트샘플 텍스트샘플 텍스트샘플 텍스트샘플 텍스트샘플 텍스트샘플 텍스트 </p>
             <p align="center"><a href="#angelCancel-popup" data-rel="popup" data-position-to="window" ><img src="img/A_03_cancel/btn_cancel.png" /></a></p>
          </div>
        </div>
        <div data-role="collapsible" class="cancelItem">
          <h2>5979878674<span class="time">13:59 PM</span></h2>
          <div data-role="listview">
            <p>샘플 텍스트샘플 텍스트샘플 텍스트샘플 텍스트샘플 텍스트샘플 텍스트샘플 텍스트샘플 텍스트샘플 텍스트샘플 텍스트샘플 텍스트샘플 텍스트샘플 텍스트샘플 텍스트샘플 텍스트샘플 텍스트샘플 텍스트 </p>
             <p align="center"><a href="#angelCancel-popup" data-rel="popup" data-position-to="window" ><img src="img/A_03_cancel/btn_cancel.png" /></a></p>
          </div>
        </div>
        <div data-role="collapsible" class="cancelItem">
          <h2>5979878674<span class="time">13:59 PM</span></h2>
          <div data-role="listview">
            <p>샘플 텍스트샘플 텍스트샘플 텍스트샘플 텍스트샘플 텍스트샘플 텍스트샘플 텍스트샘플 텍스트샘플 텍스트샘플 텍스트샘플 텍스트샘플 텍스트샘플 텍스트샘플 텍스트샘플 텍스트샘플 텍스트샘플 텍스트 </p>
             <p align="center"><a href="#angelCancel-popup" data-rel="popup" data-position-to="window" ><img src="img/A_03_cancel/btn_cancel.png" /></a></p>
          </div>
        </div>
        <div data-role="collapsible" class="cancelItem">
          <h2>5979878674<span class="time">13:59 PM</span></h2>
          <div data-role="listview">
            <p>샘플 텍스트샘플 텍스트샘플 텍스트샘플 텍스트샘플 텍스트샘플 텍스트샘플 텍스트샘플 텍스트샘플 텍스트샘플 텍스트샘플 텍스트샘플 텍스트샘플 텍스트샘플 텍스트샘플 텍스트샘플 텍스트샘플 텍스트 </p>
             <p align="center"><a href="#angelCancel-popup" data-rel="popup" data-position-to="window" ><img src="img/A_03_cancel/btn_cancel.png" /></a></p>
          </div>
        </div>
        <div data-role="collapsible" class="cancelItem">
          <h2>5979878674<span class="time">13:59 PM</span></h2>
          <div data-role="listview">
            <p>샘플 텍스트샘플 텍스트샘플 텍스트샘플 텍스트샘플 텍스트샘플 텍스트샘플 텍스트샘플 텍스트샘플 텍스트샘플 텍스트샘플 텍스트샘플 텍스트샘플 텍스트샘플 텍스트샘플 텍스트샘플 텍스트샘플 텍스트 </p>
             <p align="center"><a href="#angelCancel-popup" data-rel="popup" data-position-to="window" ><img src="img/A_03_cancel/btn_cancel.png" /></a></p>
          </div>
        </div>
        <div data-role="collapsible" class="cancelItem">
          <h2>5979878674<span class="time">13:59 PM</span></h2>
          <div data-role="listview">
            <p>샘플 텍스트샘플 텍스트샘플 텍스트샘플 텍스트샘플 텍스트샘플 텍스트샘플 텍스트샘플 텍스트샘플 텍스트샘플 텍스트샘플 텍스트샘플 텍스트샘플 텍스트샘플 텍스트샘플 텍스트샘플 텍스트샘플 텍스트 </p>
             <p align="center"><a href="#angelCancel-popup" data-rel="popup" data-position-to="window" ><img src="img/A_03_cancel/btn_cancel.png" /></a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div data-role="footer" data-theme="{{datatheme}}" data-position="fixed" class="footerMenu" >
    <div class="row" >
      <div class="small-12" > <img src="img/A_03_cancel/bg_shade_text.png" /> </div>
    </div>
    <div class="row menu" >
      <div class="columns small-4" ><img src="img/A_03_cancel/BHA_cancel_01.png" id="menu1"  /></div>
      <div class="columns small-4" ><img src="img/A_03_cancel/BHA_cancel_02.png" id="menu2" 
      				onClick="pageLuncher('indexMain');" /></div>
      <div class="columns small-4" ><img src="img/A_03_cancel/BHA_cancel_03.png" id="menu3"
      				onmousedown="this.src='img/A_03_cancel/BHA_cancel_03_down.png';"
					onmouseup="this.src='img/A_03_cancel/BHA_cancel_03.png';"
					ontouchstart="this.src='img/A_03_cancel/BHA_03_cancel_03_down.png';"
					ontouchend="this.src='img/A_03_cancel/BHA_cancel_03.png';" /></div>
    </div>
  </div>
  
  <div id="angelCancel-popup" class="angelCancel-popup" data-role="popup" >     
      <p>Text text text text text text text text text <br /> text text text text </p>
      <a href="#">OK</a> / <a href="#" class="cancel" data-rel="back">Cancel</a>
  </div>

</div>
</body>
</html>
